section.block.fadeInLeft.animated
  div.container
    div.row
      div.col-sm-12
        span.h1 Rapid credit for the emerging and mobile
        p.lead Financing remains either institutional or predatory with few offerings in between to serve an emerging and mobile. What if we could retool credit underwriting to provide a credit service that was quick as it was transparent.
        h5.m-b-0.text-uppercase Project
        p iOS App & Landing Page
        h5.m-b-0.text-uppercase Contributions
        p Research, UX, UI
        
section.fadeIn.animated
  div.container
    div.row
      div.col-xs-4
        img(src="/assets/img/aver-opener.png").img-responsive.img-bordered
      div.col-xs-4
        img(src="/assets/img/aver-preapprove.png").img-responsive.img-bordered
      div.col-xs-4
        img(src="/assets/img/aver-home.png").img-responsive.img-bordered
    div.row
      div.col-sm-12
        p.text-muted UI for rapid credit iOS app
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Project Goals
        p To research, prototype and evaluate credit solutions for emerging and mobile consumers looking to finance their purchases on and offline.
        p My primary task was to take the company through the design process and produce user tested assets for the product development team to execute on.
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Rethinking the lender borrower and experience
        p The project had begun with certain assumptions about the lending experience drawn from how the industry was positioned. Typically with purchase financing, lenders are the last point in the checkout experience. This proved problematic both to merchants and consumers, who had little trust in an alternate payment method. Integrations are hard for small merchants with few options for brick and mortar business while the rigid credit approval process and a lack of credit availability puts consumers at a disadvantage.
        p Our generative research showed that placing the lender before the shopping experience solved many of the customer experience pains of credit. This meant a user was approved for a line of credit and had high confidence of receiving credit before shopping as opposed to after leading to a hypothesized increase in checkout conversion. I sketched out a new experience map for rapid credit and drew up possible workflows to capture product screens.
    div.row.m-t
      div.col-sm-8.col-sm-offset-2
        img(src="/assets/img/aver-experience.png").img-responsive.img-bordered
    div.row.m-b
      div.col-sm-8.col-sm-offset-2
        p.text-muted Experience mapping rapid credit
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Talking to future users while building product
        p After the generative research we applied the ideas and value propositions towards building a landing page that integrated ethn.io’s interview recruiting form. I quickly scheduled a series of interviews and an interview prompt to guide the conversations, looking to test some of our initial assumptions. We verified some of our value propositions and built relationships with a national user base with whom we could continue to test our product.
        p Our evaluative research produced a greater confidence in our product direction and we moved quickly from sketches, to wireframes and intro clickable prototypes that adhered to a our financial technology product principles of convenience, control and clarity. We matched our future thinking product designs with a hypothetical brand identity that emphasized a younger but trustable product before moving on to more evaluative testing and feasibility studies.
    div.row.m-t.m-b-lg
      div.col-sm-4
        video(src="/assets/img/aver-prototype.mp4" controls).img-responsive.img-bordered Your browser does not support video
      div.col-sm-8
        img(src="/assets/img/aver-prototype.png").img-responsive.img-bordered
        p.text-muted Prototyping in Flinto

section.block#design-next
  div.container
    div.row
      div.col-sm-12
        h4.white Next
        a(href="/design/verdigris")
          h1.white Making smarter energy choices at work
