section.block.fadeInLeft.animated
  div.container
    div.row
      div.col-sm-12
        span.h1 Bringing digital art home
        p.lead With the spread of digital art culturally, there seemed an absence of curation and commerce in the space. Amateur and serious collectors now had a art platform from which to buy, store and display art.
        h5.m-b-0.text-uppercase Project
        p.lead Depict hired me to design the iOS app, build the frontend library for the web app and refresh the brand.
        
section.fadeIn.animated
  div.container
    div.row
      div.col-sm-12
        img(src="/assets/img/depict-intro.png").img-responsive
    div.row
      div.col-sm-12
        p.text-muted Web and responsive web
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Architecting iOS screens and flows
        p After surveying current features alongside moodboards of other apps, I sketched the workflows to account for requirements of a commerce and gallery platform. The architecture defined the mobile product which evolved as opportunities and requirements changed.
        p The iOS experience was designed around tabbed navigation to feature a few core experiences. I conducted rapid testing using an Xcode clickable prototype. The product design was iterated until we’d arrived at an achievable first release in the app store. Streaming displays to Apple Displays and Chromecast offered some design challenges that were solved using native iOS actions and helper screens.
    div.row.m-t
      div.col-sm-12
        img(src="/assets/img/depict-xcode.png").img-responsive
    div.row.m-b
      div.col-sm-12
        p.text-muted Xcode prototype screenshot
    div.row.m-t
      div.col-sm-12
        img(src="/assets/img/depict-ios.png").img-responsive
    div.row.m-b
      div.col-sm-12
        p.text-muted iOS application
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Refreshing the brand and web application
        p The main goal was to bring consistency to the web app. I worked with a small team to build out a core set of components and screens in Bourbon which offered many design patterns baked in.
        p After a few days of mood boarding and sketching , we designed and coded the frontend framework with an updated brand identity and new screen layouts. We’d was designing a responsive frontend where the artwork displayed well across all devices and viewports. We also componentized UI elements, which required surveying the application and forming core HTML/CSS atoms and molecules according to from Brad Frost’s Atomic Design principles.
    div.row.m-t
      div.col-sm-6.col-sm-offset-3
        img(src="/assets/img/depict-logo.png").img-responsive
    div.row.m-b
      div.col-sm-12.col-sm-offset-3
        p.text-muted New brandmark
