section.block.fadeInLeft.animated
  div.container
    div.row
      div.col-sm-12
        span.h1 Payments for shops & services
        p.lead Research shows that Latin Americans underutilize banking services.  With a growing demand among young adults for mobile finance, what if there was a better bill payment option.
        h5.m-b-0.text-uppercase Project
        p.lead Luka hired me to produce the brand identity, landing page and take the product from blockchain concept to tested prototype.
        
section.fadeIn.animated
  div.container
    div.row
      div.col-sm-12
        img(src="/assets/img/luka-intro.png").img-responsive
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Understanding the Latin American banking customer
        p Payments in Latin America are difficult to transact because of banking restrictions, legacy architecture and regulations. This proves problematic for personal finances.
        p Most people still wait in lines each month to pay their bills at select kiosks or banks. Using a series of product sprints, we were able to bring the kiosk experience into a straightforward product flow.
    div.row.m-t
      div.col-sm-12
        img(src="/assets/img/luka-flow.png").img-responsive
    div.row.m-b
      div.col-sm-12
        p.text-muted User flow to map early release features
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 From prototypes to components
        p We tested various user interface strategies with a user advisory panel, using interfaces prototyped in material design. After a series of test, we found that a few state based custom components with strong narrative cues worked most effectively.
    div.row
      div.col-sm-12
        img(src="/assets/img/luka-prototypes.png").img-responsive
    div.row
      div.col-sm-12.m-b
        p.text-muted Process of developing UI components from preformatted to custom
    div.row
      div.col-sm-12
        img(src="/assets/img/luka-app.png").img-responsive
    div.row
      div.col-sm-12.m-b
        p.text-muted A single payment flow focusing on state change over screen refresh.
    div.row
      div.col-sm-12
        img(src="/assets/img/luka-components-2.png").img-responsive
    div.row
      div.col-sm-12.m-b
        p.text-muted Exploring a library of a few distinct elements presented with variations
