section.block.fadeInLeft.animated
  div.container
    div.row
      div.col-sm-12
        span.h1 Teas for cognitive enhancement
        p.lead More and more people today suffer from stress and micronutrient deficiences. Teja is a tea club that uses natural compounds for cognition and mood enhancement.
        h5.m-b-0.text-uppercase Project
        p.lead Teja is my small business. I produced the brand identity, landing page and I've taken the product through tested iterations, from research to small scale production.
        
section.fadeIn.animated
  div.container
    div.row
      div.col-sm-12
        img(src="/assets/img/teja-intro.png").img-responsive
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Beverages as a vehicle for nutraceuticals
        p A few years ago while trying to quit coffee and suffering from intense widthdrawal, I discovered the pleasures of drinking tea. Upon realizing that tea contained a compound called L-Theanine, a naturally occuring mood enhancer, I realized that caffeine alone was a blunt force tool.
        p For Teja, I wanted the brand to evoke a laboratory product rather than a victorian habit. Given that the product came in multiple formulas, a brand system was also required.
    div.row.m-t
      div.col-sm-4
        img(src="/assets/img/teja-brand.png").img-responsive
      div.col-sm-4
        img(src="/assets/img/teja-brand-2.png").img-responsive
      div.col-sm-4
        img(src="/assets/img/teja-brand-3.png").img-responsive
    div.row.m-b
      div.col-sm-12
        p.text-muted A rectangle composed of two squares that is 2/3 the width of a square
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Functional varieties
        p Drawing from user needs, Teja was designed to emphasize functionality first rather than flavor. Hence, the varieties are organized by specific user needs, whether that's stress relief, cognitive enhancement or workout boost. Each function with its flavor varieties is captured in a symbol.
    div.row.m-t
      div.col-sm-6
        img(src="/assets/img/teja-var.png").img-responsive
      div.col-sm-6
        img(src="/assets/img/teja-var-2.png").img-responsive
    div.row
      div.col-sm-12.m-b
        p.text-muted Developing an icon based tea classification system
