section.block.fadeInLeft.animated
  div.container
    div.row
      div.col-sm-12
        span.h1 Making smarter energy choices at work
        p.lead Buildings use a lot of electricity, a lot of which could be conserved if facility managers and cost-centers could better track exactly how their energy is used. Maintenance staff use infrequent energy audits to point out large problem areas without definite action areas. Verdigris is an intelligent monitor that promises to assist facilities target specific energy wastes and equipment malfunctions.
        h5.m-b-0.text-uppercase Project
        p Verdigris Tracker
        h5.m-b-0.text-uppercase Contributions
        p Research, UX, Branding
        
section.fadeIn.animated
  div.container
    div.row
      div.col-xs-4
        img(src="/assets/img/verdigris-tracker-1.png").img-responsive.img-bordered
      div.col-xs-4
        img(src="/assets/img/verdigris-tracker-2.png").img-responsive.img-bordered
      div.col-xs-4
        img(src="/assets/img/verdigris-tracker-3.png").img-responsive.img-bordered
    div.row
      div.col-sm-12
        p.text-muted Concept UI for energy tracking within a facility
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Project Goals
        p After ethnographic research on the day to day lives of facilities staff, our design team had a tangible understanding for the jobs staff had to get done and the conditions under which they worked.
        p My primary task was to shift the product strategy towards mobile and push notifications, so facility staff could identify and diagnose issues in the field.
    div.row.m-t
      div.col-xs-6
        img(src="/assets/img/verdigris-research.png").img-responsive.img-bordered
      div.col-xs-6
        img(src="/assets/img/verdigris-research-2.png").img-responsive.img-bordered
    div.row.m-b
      div.col-sm-12
        p.text-muted Findings from ethnographic research studying facility manager's workdays
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Automating fault detection and diagnostics
        p Where most of the industry provides periodic reports, we were equipping staff with realtime energy data. But data alone is not tantamount to insight. In order to make continuous monitoring of electrical circuits useful, we’d have to use machine learning to identify common anomalies and make corrections actionable.
    div.row.m-t
      div.col-sm-8.col-sm-offset-2
        img(src="/assets/img/verdigris-flow.png").img-responsive.img-bordered
    div.row.m-b
      div.col-sm-8.col-sm-offset-2
        p.text-muted User flows through tracker application
    div.row
      div.col-sm-8.col-sm-offset-2
        p Working backwards from a very complex jobs to be done story map, I settled on achievable specifications for proof of concept, alpha & beta versions. Given product unknowns in machine learning, teams would adopt agile product development strategies release new recipes each quarter.
    div.row.m-t
      div.col-sm-8.col-sm-offset-2
        img(src="/assets/img/verdigris-flow-2.png").img-responsive.img-bordered
    div.row.m-b
      div.col-sm-8.col-sm-offset-2
        p.text-muted IA connecting machine learning recipes with interface and notifications
    div.row
      div.col-sm-8.col-sm-offset-2
        p Facilities software is still overly complex with a big learning curve. How could we create simple patterns that highlighted big issues? Looking across various hypothetical anomalies, I distilled big data into a simple natural language message — equally effective as an SMS, email or app notification. I created a straightforward messaging that uses object, parameter, span and recommendation where possible.
        p Early prototypes proved understandable and effective for facilities managers who had grown used to complex desktop interfaces. With a new app set to launch, I led a brand refresh internally, to reflect the essentialism of the product.
    div.row.m-t.m-b-lg
      div.col-xs-6
        img(src="/assets/img/verdigris-logo.png").img-responsive.img-bordered
        p.text-muted A brand redesign with typography and color guides.
      div.col-sm-6
        img(src="/assets/img/verdigris-color.png").img-responsive.img-bordered

section.block#design-next
  div.container
    div.row
      div.col-sm-12
        h4.white Next
        a(href="/design/depict")
          h1.white Bringing digital art into homes and hotels
