section.block.fadeInLeft.animated
  div.container
    div.row
      div.col-sm-12
        span.h1 Branding order fulfillment
        p.lead With the rise of commerce and kickstarter campaigns, Whiplash built a business on providing order fulfillment services to retailers and makers.
        h5.m-b-0.text-uppercase Project
        p.lead Whiplash hired me to rebrand their company and provide them with a marketing style guide.
        
section.fadeIn.animated
  div.container
    div.row
      div.col-sm-12
        img(src="/assets/img/whiplash-intro.png").img-responsive
    div.row
      div.col-sm-12
        p.text-muted Web and responsive web
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Exploring style tiles
        p I explored a number of different visual styles to see what resonated with the Whiplash team. Following a number of explorations we narrowed the exploration down to some core styles, gradients and fonts. 
    div.row.m-t
      div.col-sm-12
        img(src="/assets/img/whiplash-tile-1.png").img-responsive
    div.row
      div.col-sm-12
        img(src="/assets/img/whiplash-tile-2.png").img-responsive
    div.row
      div.col-sm-12
        img(src="/assets/img/whiplash-components.png").img-responsive
    div.row.m-b
      div.col-sm-12
        p.text-muted Style tile explorations
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Starting with the logomark
        p What began as a new logomark eventually continued into a sophisticated brand identity meant to attract medium to large boutique retailers.
    div.row.m-t
      div.col-sm-6.col-sm-offset-3
        img(src="/assets/img/whiplash-logo.png").img-responsive
    div.row.m-b
      div.col-sm-12.col-sm-offset-3
        p.text-muted New brandmark
