nav.navbar.navbar-default.app-navbar.fadeIn.animated
  div.container
    div.navbar-header
      button(type="button" data-toggle="collapse" data-target="#navbar-collapse").navbar-toggle.collapsed.p-x-0 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        svg(height="100%" viewBox="0 0 640 580" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;")
          g#logo
            path(d="M320,560l-100,-200l-100,0l100,-200l100,200c3.25144e-11,-6.49152e-11 150,-300 150,-300l0.122948,0.245895l0.123149,-0.245895l149.754,300l-200,0l-100,200Z")
            circle(cx="317.5" cy="57.5" r="37.5")
    div.navbar-collapse.collapse#navbar-collapse
      ul.nav.navbar-nav.navbar-right.text-inv
        li
          a(href="/#landing-cases") Design
        li
          a(href="/writing") Writing
        li
          a(href="/#landing-contact") Contact
